body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
}

main {
    min-width: 1200;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    background-color: #f6efef;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
}

#productos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* flex: 1; */
    /* padding-left: 1rem; */

}

#carrito-container {
    margin: 0 auto;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(10, 10, 30, 0.9);
}

#carrito-lista {
    list-style: none;
    padding: 0;
}

#carrito-lista li {
    display: flex;
    justify-content: space-around;
    margin-bottom: 8px;
}

#finalizarCompra {
    background-color: #655ae6 ;
    width: 60%;
    color: white;
    border: none;
    padding: 10px 15px;
    margin-left: 50px;
    border-radius: 4px;
    cursor: pointer;
}

#finalizarCompra:hover {
    background-color: #e62d2d;
}
h4{
    margin-top: 10px;
    
}
button{
    background-color: #549f54;
    border-radius: 5px;
    padding: 5px;
    color: rgb(18, 18, 18);
}
button:hover{
    background-color: #d45e40;
}
img{
    width: 180px;
    height: 150px;
    margin-top: 20px;
    border-radius: 5px;
    border: 2px grey;
}