body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

header {
    background-color: #973480;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}

main {
    max-width: 1000px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    background-color: #f6efef;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
    margin-top: 100px;
}
h1{
    letter-spacing: 4px
}

#productos-container {
    width: ;
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    gap: 14px;
}

#carrito-container {
    margin: 0 auto;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(10, 10, 30, 0.9);
}

#carrito-lista {
    list-style: none;
    padding: 0;
}

#carrito-lista li {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 8px;
}

#finalizarCompra {
    background-color: #655ae6 ;
    width: 60%;
    color: white;
    border: none;
    padding: 10px 15px;
    margin-left: 50px;
    border-radius: 4px;
    cursor: pointer;
}

#finalizarCompra:hover {
    background-color: #e62d2d;
}
h4{
    margin-top: 10px;
    text-align: center;
    
}
p{
    text-align: center;
}
button{
    display: flex;
    background-color: #549f54;
    border-radius: 5px;
    padding: 5px;
    color: rgb(18, 18, 18);
    margin: 0 auto;
}
button:hover{
    background-color: #d45e40;
}
img{
    width: 180px;
    height: 150px;
    margin-top: 20px;
    border-radius: 10px;
    border: 2px solid rgb(159, 148, 148);
    overflow: hidden;
}
#carrito-lista li span{

    margin-right: 14px;
}
#carrito-lista button{
    width: 80px;
    height: 35px;
    background-color: #93ac7e;
    color: rgb(23, 22, 22);
}